<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hobital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{patients}">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Medcins</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" aria-current="page" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Crud
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Ajouter</a></li>
                        <li><a class="dropdown-item" href="#">Chercher</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        [Utilisateur]
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">connexion</a></li>
                        <li><a class="dropdown-item" href="#">Déconnexion</a></li>

                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <form th:action="@{savePatient}" th:method="POST">

        <div class="form-group">
            <label class="control-label"> Nom </label>
            <input class="form-control" type="text" name="name" th:value="${patientedit.name}">
        </div>

        <div class="form-group">
            <label class="control-label"> Prenom </label>
            <input class="form-control" type="text" name="prenom" th:value="${patientedit.prenom}">
        </div>

        <div class="form-group">
            <label class="control-label"> Adresse </label>
            <input class="form-control" type="text" name="Adresse" th:value="${patientedit.Adresse}">
        </div>

        <div class="form-group">
            <label class="control-label"> Télephone </label>
            <input class="form-control" type="text" name="telephone" th:value="${patientedit.telephone}">
        </div>

        <div class="form-group">
            <label class="control-label"> Date de Naissance </label>
            <input class="form-control" type="date" name="dateNaissance" th:value="${patientedit.dateNaissance}">
        </div>

        <div class="form-group">
            <label class="control-label"> Malade </label>
            <input type="checkbox" name="malade" th:checked="${patientedit.malade}">
        </div>
        <br>
        <button class="btn btn-dark" type="submit">Modifier</button>
    </form>
</div>


</body>
</html>